<p>Please carefully read the following policies and procedures. By registering for the KFOM site, you agree to the following terms and conditions.</p>
<br />

<h3 class='normal'>Weekly Schedule:</h3>
<ul>
  <li>Wednesday - Monday: Producers list products on KFOM website</li>
  <li>Tuesday, 10PM: All customer orders due. Customers receive email with order summary.</li>
  <li>Thursday, 5-7PM: Pickup orders at Klamath Tool Library.</li>
</ul>

<h3 class='normal'>Ordering:</h3>
<ul>
  <li>You will receive a reminder on Monday to check out the week’s offerings on KFOM.org (you can begin ordering as early as the Wednesday before, although listings may not be fully updated until noon on Monday)</li>
  <li><strong>All orders are due by Tuesday at 10 pm.</strong></li>
  <li>You will receive a confirmation email on Tuesday after the 10PM cutoff which will inform you if the group minimum has been met and an invoice summarizing your order. Please pay close attention to payment instructions in the email.</li>
  <li>If you made an order, but that producer’s minimum was not met, you will be notified in your invoice that the order is cancelled. You are not expected to make payments for orders that were not fulfilled.</li>
  <li>•	Each food producer that sells on KFOM is selling separately. You are purchasing products directly from the producer. KFOM simply serves as a communication tool.</li>
</ul>
<h3 class='normal'>Pickup Procedure:</h3>
<ul>
  <li>Check list on front of freezer door and initial next to your name and order details.</li>
  <li>Make payments to each individual producer by following payment instructions (see payment details below). <strong>Cash, check, and Oregon Trail cards (SNAP) are accepted.</strong></li>
  <li>Take your food home and enjoy!</li>
</ul>
<h3 class='normal'>Pickup Details:</h3>
<ul>
  <li>Pickup is located at the <b>Klamath Tool Library at 1221 Main St.</b></li>
  <li>Pickup is every Thursday from 5-7pm.</li>
  <li>If a customer fails to pick up their order, they are still responsible to make payment to the producer.  Please contact the producer directly to arrange payment.</li>
  <li>Alternative pickup times will <strong><u>not</u></strong> be arranged.</li>
  <li>The pickup site may not be staffed and your orders will not be aggregated into one bundle. Please make sure to pick up each of your orders from each producer. All orders should be packaged and clearly labeled with your name. If you have ordered from multiple producers, you will have multiple packages to pick up.</li>
  <li>The Klamath Tool Library is not responsible supervising pickup. They are simply providing the space. Please be respectful of their time and space.</li>
  <li>If a food producer fails to fulfill an order and does not contact you ahead of time to cancel, please notify KFOM.</li>
</ul>
<h3 class='normal'>Payment:</h3>
<ul>
  <li><strong>Each food producer must be paid separately.</strong> Payments from the customers are made directly to the producer. KFOM and/or the Klamath Tool Library are not responsible for payments.</li>
  <li>A lockbox is provided at the pickup site to drop off checks for producers.</li>
  <li>Customers may pay with cash, check, or Oregon Trail (SNAP) card</li>
  <li><strong>Do NOT put cash directly into the drop box.</strong> Please put exact change into an envelope and label clearly with the name of the producer. If you buy from multiple producers, you must make an envelope for each one.</li>
  <li>Failure to pay or pick up multiple times will result in the freezing of your membership with KFOM. The first time, someone will contact you to ensure payment instructions are clear. If payment is not received a second time, membership will be frozen until payment is received.</li>
  <li>SNAP/EBT payments can be made at pickup. If there is a remaining balance after SNAP benefits have been used, you are responsible to make the rest of the payment direct to the producer.</li>
</ul>
<h3 class='normal'>Minimums:</h3>
<ul>
  <li>The main idea is that the community is collectively making bulk orders from local producers. Setting a minimum protects the producer from preparing and delivering a small order for an amount that’s not worth the time and effort.</li>
  <li>When a producer sets a minimum that means that is the total quantity that all orders must add up to in order for any orders to be filled. If a producer sets a $25 minimum, then they will only deliver to the Tool Library if they sell $25 total worth of product. If that minimum is not met, the order will be canceled. You will not be charged and will not receive that product.</li>
  <li>Both producers and consumers will receive notification that the minimum has been met or not met.</li>
</ul>
<h3 class='normal'>Contact:</h3>
<p>Please contact food producers directly with any questions regarding specific listings or products.</p>
<p>For general KFOM questions, you may contact <a href="mailto:info@kfom.org">info@kfom.org</a> or call Katie Swanson at 541-827-9442 or Jessie DuBose at 541-539-5920</p>
