<p>Pleae carefully read the following policies and procedures.  By registering and posting
to the KFOM site, you agree to the following terms and conditions.</p>
<br />
<h3 class='normal'>Criteria for producers:</h3>
<ul>
  <li>All farm products sold through KFOM must be 100% grown and harvested by the
  vendor.</li>
  <li>Only agricultural products may be sold on KFOM. These include <strong>fresh fruits and
  vegetables, nuts, honey, eggs, herbs, grains, meat.</strong></li>
  <li>At this time, processed products (e.g. baked goods, jams/jellies, cheese, canned goods, etc.) are
  <em><u>not</u></em> permitted.</li>
  <li>Vendors must be informed of and follow all rules and guidelines issued by the Food
  Safety Division of the Oregon Department of Agriculture and the USDA.</li>
  <li>All products offered for sale must comply with State and Federal standards governing
  weight, packaging and labeling.</li>
  <li>Please see the <a href='http://www.oregon.gov/ODA/programs/FoodSafety/Pages/Default.aspx'>ODA Food Safety Resources</a> page for more information.</li>
  <li>KFOM does not assume responsibility for vendor product liability; each vendor is
  therefore encouraged to purchase product liability insurance.</li>
</ul>
<h3 class='normal'>Weekly Schedule:</h3>
<ul>
  <li>Monday, 12PM: All producer listings on KFOM website must be completed</li>
  <li>Tuesday, 10PM: Consumer orders due. Invoices sent to producers and consumers, and listings deactivate.</li>
  <li>Thursday, 4:30PM: Deliveries due to Klamath Tool Library</li>
</ul>
<h3 class='normal'>Posting to the site:</h3>
<ul>
  <li>All listings must be completed no later than Monday at 12 pm.  You may create or renew a
  listing as early as Wednesday (for the following Thursday).</li>
  <li>All listings include:</li>
  <ul>
    <li>Product Name</li>
    <li>Product Description</li>
    <li>Price per unit</li>
    <li>Quantity available</li>
    <li>Minimum order (if needed, see more details below)</li>
    <li>Contact Information</li>
    <li>Special instructions (you may add special payment instructions if needed)</li>
  </ul> 
  <li><strong>The previous week’s post will automatically deactivate after the cutoff Tuesday at 10PM.</strong> You will
  have access to your listing history, which will allow you to renew old listings for the next
  week, edit or create a new one.</li>
</ul>
<h3 class='normal'>Minimums:</h3>
<ul>
  <li>The main idea is that the community is collectively making bulk orders from local
  producers. Setting a minimum protects the producer from preparing and delivering a
  small order for an amount that’s not worth the time and effort.</li>
  <li>When a producer sets a minimum that means that is the total quantity that all orders
  must add up to in order for any orders to be filled. If a producer sets a $25 minimum,
  then they will only deliver to the Tool Library if they sell $25 total worth of product. If that
  minimum is not met, the order will be canceled.</li>
  <li>Both producers and consumers will receive notification that the minimum has been met
  or not met.</li>
  <li>You are not required to include a minimum for the order. Please keep in mind, that if you
  choose to set a minimum and it is not met, the order will be canceled. You will not
  receive payment, the customers will not receive nor be billed for the items, and you will
  not be expected to make the delivery.</li>
</ul>
<h3 class='normal'>Filling orders, packing, &amp; delivery:</h3>
<ul>
  <li>You will receive an invoice summarizing your orders by Tuesday by 10:30PM.</li>
  <li><strong>Each order should be individually and neatly packaged (bags, boxes, containers) and
  clearly labeled with the customer’s name.</strong></li>
  <li>Please follow all relevant <a href='http://www.oregon.gov/ODA/programs/FoodSafety/Pages/Default.aspx'>ODA Food Safety Guidelines</a></li>
  <li>Deliveries to the Klamath Tool Library are due Thursday by 4:30 pm.</li>
  <li>The Klamath Tool Library is located at 1221 Main St. <strong>The current door code will be sent
  with your invoice on Tuesday.</strong> Please do not share this code with anyone.</li>
  <li>Please do not place any food products on the floor. Rather, set them on the counter,
  table, or in the fridge or freezer if needed.</li>
  <li>Customers can pick up their orders between 5-7pm during the open hours of the Tool
  Library. You do not need to stay during these hours as long as payment has been
  arranged and products are clearly labeled for easy pickup.</li>
  <li>In emergency instances where a producer must cancel an order, the producer is
  responsible to individually notify customers of the cancellation by noon on Thursday.
  Multiple order cancellations will result in the producer having membership revoked.</li>
  <li>The Klamath Tool Library is not responsible for supervising pickup. They are simply
  providing a space.</li>
  <li>If a producer would like to use the KFOM pickup site and time for pre-existing accounts
  not administered through the KFOM website they should contact KFOM directly to discuss details.
  In exchange for use of the pickup site, the producer will be asked to contribute volunteer hours
  to KFOM, most likel supervising pickup 2-3 times per season.</li>
</ul>
<h3 class='normal'>Payment:</h3>
<ul>
  <li><strong>Payments from the customers are made directly to the producer. KFOM and/or the
  Klamath Tool Library are not responsible for payments.</strong></li>
  <li>A locked drop box will be provided at the pickup site where customers may drop off
  checks.  Please collect your checks within a week of payment.  KFOM is not responsible
  for payments in the drop box.</li>
  <li>Customers may also insert cash in a clearly labeled envelope into the lockbox. Envelopes
  and pens will be provided.</li>
  <li>Currently, we do <u>not</u> have online payments available on the website.  If desired,
  producers may individually contact customers to setup alternative forms of payment.</li>
  <li>If a customer does not pay, please contact the customer directly and notify KFOM as
  well. If a customer fails to pay multiple times, their membership will be revoked.</li>
  <li>Customers will have the option to pay using SNAP/EBT benefits. They will make
  payments over the phone to the Klamath Falls Farmer’s Market manager (Charlie
  Wyckoff, 541-273-1102). The standard procedure used for the Farmer’s Market will be
  followed and payment will be distributed to producers.</li>
</ul>
<br />
<p>Please do not hesitate to contact KFOM at kfomfoodbuyingclub@gmail.com or call 
Katie Swanson at 541-827-9442 or Jessie DuBose at 541-539-5920</p>
