<h2><%= @profile.business_name %></h2>
<p><%= "Email: #{@profile.user.email}" %></p>
<p><%= "#{@profile.name} - #{@profile.phone_formatted}" %></p>
<p>Make checks payable to: <%= @profile.payable_to %></p>
