<% if !signed_in? %>

  <p class='text-lg'>Welcome to Klamath Farmer’s Online Marketplace (KFOM) – a virtual farmer’s market that provides Klamath Falls 
  year-round access to local food.  </p>
  <br />

  <p class='text-lg'><%= link_to 'Sign up', new_user_registration_path, class: 'normal' %> to begin ordering fresh, local food!
  Once you sign up, you will receive an email with detailed information on how KFOM works.</p>
  <br />

  <strong><p class='text-lg'>Starting July 12th, KFOM Pickup will be located at the Herald & News at 2701 Foothills Blvd. Pickup will continue to be Thurdsays, 5-7PM</p></strong>
  <br />

  <p class='text-lg'>Orders due: Every Tuesday by 10PM</p>
  <br />

  <p class='text-lg'>Pickup: Every Thursday from 5-7PM</p>
  <br />
  <%= render 'posts/index_message' %>
<% else %>
  
<% end %>
<%= render 'posts/buyer_index' %>
 
