<% if !signed_in? %>

  <p class='text-lg'>Welcome to Klamath Farmer’s Online Marketplace (KFOM) – a virtual farmer’s market that provides Klamath Falls 
  year-round access to local food.  </p>
  <br />

  <strong><p class='text-lg'><%= link_to 'Sign up', new_user_registration_path, class: 'normal' %> to begin ordering fresh, local food!
  Once you sign up, you will receive an email with detailed information on how KFOM works.</p></strong>
  <br />

  <p class='text-lg'>This is a communication tool between local producers and consumers where you can see what local farmers and 
  ranchers have available.  You are purchasing directly from producers and are responisble to pay them individually as well
  as pick up your order from the Klamath Tool Library (1221 Main St.).</p>
  <br />

  <p class='text-lg'>Orders due: Every Tuesday by 10PM</p>
  <br />

  <p class='text-lg'>Pickup: Every Thursday from 5-7PM</p>
  <br />
  <%= render 'posts/index_message' %>
<% else %>
  
<% end %>
<%= render 'posts/buyer_index' %>
 
