<p>Thank you for using KFOM! You will receive an email to notify you if the producer minimum orders have been met and if your order will be fulfilled.<p>
<p>If you have any questions specific to your order, please contact the farmer directy.  For KFOM questions, please email kfomfoodbuyingclub@gmail.com</p>
