<h3>Hello KFOM farmers & ranchers,</h3>
<br />

<p>There will be no KFOM pickup next week, Dec. 28th. Please do not add any listings to the site until Dec. 26th (for pickup on the following Thursday, Jan 4th)</p>
 
<p>Thank you for the wonderful food and enjoy your holiday!</p>
