<h3>Hello!</h3>
<br />

<p>Just a friendly reminder to visit <a href='https://www.kfom.org'>KFOM.org</a> to check out this week’s offerings from local farmers and
ranchers. All orders must be made by 10PM on Tuesday.</p>

<p>Please contact food producers directly with questions regarding specific listings and products.
Thank you for supporting our local food system and happy shopping!</p>

<br />
<br />

<p>Sincerely,</p>
<p>Klamath Farmer’s Online Marketplace</p>

<br />

<h2>KFOM Contacts:</h2>
<p>KFOMFoodBuyingClub@gmail.com</p>
<p>Katie Swanson, 541-827- 9442</p>
<p>Jessie DuBose, 541-539- 5920</p>
