<h3>Hello!</h3>
<br />
<p>Just a friendly reminder to complete all product listings on <a href='https://www.kfom.org'>KFOM.org</a> as soon as you are able.  All listings should be up to date by Monday morning at the latest. You will receive an invoice of all your orders after 10PM on Tuesday.</p>
<p>Thank you for feeding our community!</p>
<br />
<br />
<p>Sincerely,</p>
<p>Klamath Farmer’s Online Marketplace</p>
<h4>KFOM Contacts:</h4>
<p><a href="mailto:info@kfom.org">info@kfom.org</a></p>
<p>Katie Swanson, 541-827-9442</p>
<p>Jessie DuBose, 541-539-5920</p>
