<h3>Hello!</h3>
<br />
<p>Just a friendly reminder that all product listings on <a href='https://www.kfom.org'>KFOM.org</a> must be updated by 12PM on Monday.</p>

<p>Please log in to make sure your listings are current. You will receive an invoice of all your orders after
10PM on Tuesday.</p>

<br />
<p>Thank you for feeding our community!</p>
<p>Sincerely,</p>
<p>Klamath Farmer’s Online Marketplace</p>

<br />
<h4>KFOM Contacts:</h4>
<p>KFOMFoodBuyingClub@gmail.com</p>
<p>Katie Swanson, 541-827-9442</p>
<p>Jessie DuBose, 541-539-5920</p>
