<h3>Hello!</h3>
<br />

<p>Just a friendly reminder to visit <a href='https://www.kfom.org'>KFOM.org</a> to check out this week’s amazing offerings from local farmers and ranchers! Orders are due by 10PM on Tuesday.</p>

<p>Please contact food producers directly with questions regarding specific listings and products.  If you have any questions regarding the website, feel free to contact KFOM.</p>

<p>Thank you for supporting our local food system and happy shopping!</p>

<p>Sincerely,</p>

<br />
<br />

<p>Klamath Farmer’s Online Marketplace</p>
<p>info@kfom.org</p>
<p>Katie Swanson, 541-827-9442</p>
<p>Jessie DuBose, 541-539-5920</p>
