<!-- p class='text-lg'>What does "Group Total Required" mean?  Many farms have set a minimum total
order.  This is the total quantity that all purchases collectively must add up to for any orders
to be filled.  Please see the Policies & Procedures sent to your email for more detailed 
information.</p>
<br / -->
