<div class='col-group card-deck'>
  <div class='col-md-9'>
    <h2>Current listings</h2>
    <%= render @active_posts %>
  </div>
  <%= render 'posts/submit' %>
</div>
<p class='clearfix'></p>

<script type="text/javascript">
	if (orderWarning === 1) {
		alert('The items below with a warning are still not part of your order. If you modified the quantity of an order it has been removed. Please click the "Submit Order" button to add these items to your order.');
	}
</script>