<div class='col-group card-deck'>
  <div class='col-md-9'>
    <h2>Current listings</h2>
    <%= render @active_posts %>
  </div>
  <%= render 'posts/submit' %>
</div>
<p class='clearfix'></p>

<script type="text/javascript">
	if (orderWarning === 1) {
		alert('Warning! You have edited the quantity on your order, because of this the item is currently removed from your order. Please sure to "Submit Order" to add the item back to your order.');
	}
</script>